@charset "UTF-8"; 
@font-face {
  font-family: 'Fraunces';
  src: url(../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}

@font-face {
  font-family: 'Manrope';
  src: url(../assets/fonts/manrope/static/Manrope-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-purple: #24053E;
  --davys-gray: #584D62;
  --eucaplyptus: #44FFA1;
  --ghost-white: #FCF8FF;
  --white: #ffffff;
}

body {
  margin: auto;
  height: 100vh;
  width: 100vw;
  font-family: 'Manrope', sans-serif;
}
