.header {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-purple);
  height: 431px;
  width: 100%; 
  padding: 32px 16px 0 16px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.btn-secondary {
  font-size: 16px;
  width: 125px;
  height: 32px;
  font-weight: 600;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__heading {
  margin-top: 69px;
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
}

.header__heading > span {
  display: inline-block;
  height: 55px;
  border-bottom: 3px solid var(--eucaplyptus);
}

.header__btn {
  margin-top: 40px;
  width: 133px;
  height: 55px;
  font-size: 16px;
  padding-bottom: 1px;
  font-weight: 700;
}

.header__btn:hover {
  background-color: var(--dark-purple);
  color: var(--eucaplyptus);
  border: 2px solid var(--eucaplyptus);
  cursor: pointer;
  transition: all .2s;
}

.header-bottom {
  height: 25px;
  width: 100%;
  background-color: var(--dark-purple);
  border-radius: 0 0 100% 100%;
}

.main {
  padding: 0 16px;
  background-color: var(--ghost-white);
}

.main__image {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 155px;
}

.main__image-hero {
  position: absolute;
  bottom: 60px;
  width: 320px;
}

.main__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__item-number {
  font-family: 'Fraunces', serif;
  text-align: center;
  height: 46px;
  width: 46px;
  padding: 9.5px 0 0 1px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  border: 1px solid var(--dark-purple);
  color: var(--dark-purple);
}

.main__heading {
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 600;
  color: var(--dark-purple);
}

.main__item-text {
  font-family: 'Manrope', sans-serif;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #584D62;
}

.last-item {
  margin-bottom: 31px;
}

.main-bottom {
  height: 40px;
  width: 100vw;
  margin-bottom: 100px;
  border-radius: 0 0 100% 100%;
  background-color: var(--ghost-white);
}

.cta-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 74px;
}

.cta-section__content {
  background-color: var(--dark-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 343px;
  max-height: 375px;
  padding: 0 31px;
  margin: 0 16px;
}

.cta-section__heading {
  margin-top: 32px;
  font-weight: 600;
  font-size: 32px;
}

.cta-section__description {
  margin-top: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  font-family: 'Manrope', sans-serif;
  color: var(--white);
  
}
.cta-section__btn {
  width: 172px;
  height: 55px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 32px;
  padding-bottom: 3px;
}
.cta-section__image {
  margin-bottom: -15%;
  width: 281px;
  height: 281px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin-bottom: 59px;
}

.footer__social-media {
  display: flex;
  flex-direction: row;
  gap: 28px;
  margin-bottom: 65px;
}

.footer__social-logo {
  height: 20px;
  width: 20px;
  cursor: pointer;
}