.header__heading {
  font-family: 'Fraunces';
  color: var(--white);
  text-align: center;
}

.cta-section__heading {
  font-family: 'Fraunces';
  color: var(--white);
  text-align: center;
}

.main__heading {
  font-family: 'Fraunces';
  color: var(--dark-purple);
  text-align: center;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--eucaplyptus);
  color: var(--dark-purple);
  user-select: none;
}

.cta-section__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  background-color: var(--eucaplyptus);
  color: var(--dark-purple);
  user-select: none;
}

.cta-section__btn:hover {
  cursor: pointer;
  border: 2px solid var(--eucaplyptus);
  background-color: var(--dark-purple);
  color: var(--eucaplyptus);
  transition: all .2s;
}

.btn-secondary {
  font-family: 'Manrope', sans-serif;
  text-align: center;
  border-bottom: 3px solid var(--eucaplyptus);
  color: var(--white);
  user-select: none;
}

.btn-secondary:hover {
  cursor: pointer;
  color: var(--eucaplyptus);
  transition: all .3s;

}

@media screen and (min-width: 769px) {

  .header {
    height: 495px;
    width: 100%;
    padding: 32px 40px 0 40px;
  }

  .header__heading {
    margin-top: 56px;
    max-width: 573px;
    font-size: 60px;
    line-height: 60px;
  }

  .header__heading > span {
    height: 65px;
  }

  .header__btn {
    margin-top: 50px;
  }

  .header-bottom {
    height: 45px;
    width: 100%;
    background-color: var(--dark-purple);
    border-radius: 0 0 100% 100%;
  }

  .main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__image {
    min-height: 220px;
  }

  .main__image-hero {
    width: 514px;
  }

  .main__topics {
    margin: 0 97px;
  }

  .main__item {
    flex-direction: row;
  }

  .main__item-number {
    position: absolute;
  }

  .main__content {
    display: flex;
    flex-direction: column;
    max-width: 493px;
    margin-left: 79px;
  }

  .main__heading {
    text-align: start;
  }

  .main__item-text {
    text-align: start;
    max-width: 493px;
    font-size: 15px;
    font-weight: 500;
  }

  .cta {
    display: flex;
    justify-content: center;
  }

  .cta-section {
    flex-direction: row;
    align-items: flex-start;
    margin: 0 40px;
    height: 526px;
    width: 689px;
  }

  .cta-section__content {
    align-self: flex-end;
    margin: 0;
    max-width: 514px;
    height: 375px;
    padding: 48px 56px 0 57px;
    align-items: start;
  }

  .cta-section__image {
    margin: 0;
    width: 281px;
    height: 281px;
    margin-right: -15%;
  }

  .cta-section__heading {
    font-size: 48px;
    margin: 0;
  }

  .cta-section__description {
    margin-top: 24px;
    text-align: start;
    max-width: 402px;
  }

  .footer {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1440px) {

  .header {
    height: 670px;
    width: 100%;
    padding: 56px 165px 0 165px;
  }

  .header__heading {
    margin-top: 63px;
    max-width: 636px;
    font-size: 80px;
    line-height: 80px;
  }

  .header__heading > span {
    height: 85px;
  }

  .header__btn {
    width: 161px;
    height: 61px;
    font-size: 18px;
  }

  .header-bottom {
    height: 60px;
    background-color: var(--dark-purple);
    border-radius: 0 0 100% 100%;
  }

  .main {
    height: 600px;
  }

  .main__image-hero {
    position: absolute;

    bottom: 40px;
    width: 767px;
  }

  .main__topics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 26px;
    height: 308px;
    width: 1114px;
    margin: 0;
  }

  .main__item {
    flex-direction: column;
  }

  .main__content {
    margin: 0;
  }

  .main__heading {
    margin-top: 40px;
    font-size: 32px;
    text-align: center;
  }

  .main__item-text {
    text-align: center;
    font-size: 18px;
    line-height: 32px;
  }

  .main__item-number {
    position: unset;
    margin: 0;
  }

  .cta-section {
    justify-content: center;
    height: 647px;
    width: 1112px;
  }

  .cta-section__image {
    margin: 0;
    width: 450px;
    height: 450px;
    margin-right: -9%;
  }

  .cta-section__content {
    min-width: 730px;
    min-height: 410px;
    margin-bottom: 61px;
    padding: 64px 64px 50px 64px;
  }

  .cta-section__heading {
    font-size: 56px;
  }

  .cta-section__description {
    text-align: start;
    max-width: 602px;
    font-size: 18px;
    line-height: 32px;
  }

  .cta-section__btn {
    min-width: 190px;
    min-height: 61px;
    font-size: 18px;
  }

}